# haskell files
.stack-work/
*~
**/tmp/
**/.tmp/
**/dist/
**/dist-newstyle/

# haskell profiling files
*.prof
*.svg

# files for xcode
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

# browser extension files
**/node_modules/
**/dist/
